@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.wide_center {
    padding-left: calc(50% - 1600px / 2);
    padding-right: calc(50% - 1600px / 2);
    background-color: #F1E4E6;
}

.center {
    padding-left: calc(50% - 1140px / 2);
    padding-right: calc(50% - 1140px / 2);
}

.header {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.header_logo {
    display: flex;
    gap: 43px;
    align-items: flex-end;
    justify-content: space-between;
}

.header_menu {
    display: flex;
    gap: 33px;
    align-items: flex-end;
}

.promo {
    display: flex;
    align-items: center;
    gap: 43px;
}

.promo_textlogo {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.logo_text_the_brand {
    color: #222;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
}

.logo_text_of_luxurious {
    color: #222;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    display: flex;
    gap: 6px;
}

.logo_text_fashion {
    color: #F16D7F;
}

.offer_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgba(33, 22, 22, 0.7);
}

.offer_item_wide {
    grid-column: 1/4;
}

.offer_item_img {
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.offer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
    gap: 30px;
    padding-top: 65px;
}

.offer_text1 {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    position: absolute;
}

.offer_text2 {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.products {
    padding-top: 96px;
}

.product_texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding-bottom: 50px;
}

.products_text1 {
    color: #222;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
}

.products_text2 {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.products_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    gap: 30px;
}

.product_item {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
}

.product_img {
    width: 360px;
    height: 420px;
    flex-shrink: 0;
}

.product_text {
    padding: 23px 29px 20px 17px;
}

.product_title {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

.product_description {
    padding-top: 16px;
    padding-bottom: 16px;
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
}

.product_price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.browse_all_products {
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    border: solid 1px #FF6A6A;
    display: block;
    margin: 48px auto 65px auto;
    padding: 14px 39px;
    background: #fff;
}